@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/dancing-script-v14-latin-regular.woff2') format('woff2'),
    url('../fonts/dancing-script-v14-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'),
    url('../fonts/montserrat-v14-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'),
    url('../fonts/montserrat-v14-latin-700.woff') format('woff');
}

@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 400;
  src: local('Noto Serif Italic'), local('NotoSerif-Italic'),
    url('../fonts/noto-serif-v8-latin-italic.woff2') format('woff2'),
    url('../fonts/noto-serif-v8-latin-italic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/roboto-slab-v11-latin-regular.woff2') format('woff2'),
    url('../fonts/roboto-slab-v11-latin-regular.woff') format('woff');
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ol,
ul {
  list-style: none;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 97px;
}

.site-logo {
  font-family: 'Dancing Script', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 26px;
  text-decoration: none;
  color: #fed136;
}

.nav-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav-menu li {
  margin-right: 40px;
}

.nav-menu li:last-child {
  margin-right: 0;
}

.nav-menu-item-link {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #222222;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.2s linear;
}

.nav-menu-item-link:hover {
  color: #fed136;
}

.services {
  padding-bottom: 122px;
}

.section-title {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #222222;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
}

.section-title-description {
  font-family: 'Noto Serif', 'Arial', serif;
  font-weight: 400;
  font-size: 16px;
  font-style: italic;
  color: #777777;
  text-align: center;
  margin-bottom: 80px;
}

.services-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services-list-item {
  flex-basis: 274px;
}

.services-list-item::before {
  display: block;
  content: '';
  border-width: 3px;
  border-color: rgb(254, 209, 54);
  border-style: solid;
  border-radius: 50%;
  width: 74px;
  height: 73px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 27px;
}

.services-list-item:first-child::before {
  background-image: url('../img/icons/icon-basket.png');
}

.services-list-item:nth-child(2)::before {
  background-image: url('../img/icons/icon-laptop.png');
}

.services-list-item:last-child::before {
  background-image: url('../img/icons/icon-locked.png');
}

.services-list-item-title {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #222222;
  margin-bottom: 21px;
  text-align: center;
}

.services-list-item-description {
  font-family: 'Roboto Slab', 'Arial', serif;
  font-weight: 400;
  font-size: 14px;
  color: #777777;
  margin-bottom: 21px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.35px;
}

.contact {
  padding-top: 106px;
  background-color: rgb(34, 34, 34);
  background-image: url('../img/map-image.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  min-height: 677px;
}

.contact-us {
  color: #ffffff;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-form-section {
  display: flex;
  flex-direction: column;
  flex-basis: 457px;
}

.contact-form-section input {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 2px;
  margin-bottom: 30px;
  height: 52px;
  padding-left: 20px;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: rgb(119, 119, 119);
}

.contact-form-section input::placeholder {
  text-transform: uppercase;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: rgb(187, 187, 187);
}

.contact-form-section input:focus {
  border: 3px;
}

.contact-form-section input[type='text']:required:focus:valid:not(:placeholder-shown),
.contact-form-section input[type='email']:required:focus:valid:not(:placeholder-shown) {
  outline-color: rgb(0, 128, 0);
}

.contact-form-section input[type='text']:required:focus:invalid:not(:placeholder-shown),
.contact-form-section input[type='email']:required:focus:invalid:not(:placeholder-shown) {
  outline-color: rgb(255, 0, 0);
}

.contact-form-section input:last-child {
  margin-bottom: 0;
}

.contact-form-textarea {
  resize: none;
  width: 459px;
  height: 214px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
}

.contact-form textarea::placeholder {
  text-transform: uppercase;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: rgb(187, 187, 187);
  padding-top: 20px;
  padding-left: 20px;
}

.contact-form-textarea:required:focus:valid:not(:placeholder-shown) {
  outline-color: rgb(0, 128, 0);
}

.contact-form-textarea:required:focus:invalid:not(:placeholder-shown) {
  outline-color: rgb(255, 0, 0);
}

.contact-form-button-send {
  align-self: flex-end;
  margin: 0 auto;
  margin-top: 30px;
  text-transform: uppercase;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: rgb(255, 255, 255);
  width: 240px;
  height: 66px;
  border: none;
  border-radius: 3px;
  background-color: rgb(254, 209, 54);
  cursor: pointer;
}